.row {
    display: flex;
    align-items: center;
}

/* Select the class .column and use the flex item property and value that will expand the columns to fill the space of the row. */

/* Next, target .primary and assign it twice as much free space as the other flex items. */

/* Finally, align the columns to the vertical center of .row. Use the flex container property that controls alignment on the cross axis. */

.column {
    flex-grow: 1;
}

.primary {
    flex-grow: 2;
}